@charset "UTF-8";

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}


input[type=button], input[type=submit], input[type=reset] {

  background-color: rgb(255, 95, 17);
  box-shadow: rgb(255, 95, 17) 0px 10px 28px -12px;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 20px 20px 20px;
  transition: all 0.3s ease-in-out;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active  {
  transform: scale(0.95);
}

input[type=text], input[type=password]  {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 70%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus  {  
  border-bottom: 2px solid rgb(255, 95, 17);
  border: none;
}

input[type=text]:placeholder, input[type=password]:placeholder {
  color: #cccccc;
}

.dados-incorretos {
	margin-bottom: 0;
  color: red;
  margin-top: 0;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover  {
cursor: pointer;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active  {
transform: scale(0.95);
}