<div *ngIf="listar">
    <div class="row col-12 mt-3" >
        <h2>Álbuns</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Titulo</th>
              <th>Usuario</th>
              <th></th>        
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let album of albums">
              <td>{{album.titulo}}</td>        
              <td>{{album.usuario}}</td>
              <td><button class="btn btn-primary" (click)="abrirAlbum(album.id)">Abrir</button>
              <button class="btn btn-primary ml-2" (click)="excluirAlbum(album.id)" *ngIf="username == album.usuario">Excluir</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group row col-12">
          <button class="btn btn-primary mt-5 ml-2" (click)="novoAlbum()">Novo</button>   
          <a class="btn btn-primary mt-5 ml-2" routerLink="/home">Voltar</a>   
      </div>      
      <div class="p-2 mb-2 bg-danger text-white w-100"  *ngIf="error">
          Houve um erro na exclusão do álbum. Por favor, tente novamente.
      </div>
      <div class="p-2 mb-2 bg-success text-white w-100"  *ngIf="sucesso">
          Álbum excluído com sucesso.
      </div>
</div>
<div *ngIf="novo">    
    <div class="row col-12 mt-3">    
        <h2>Novo Álbum</h2>
        <div class="form-group w-100">
            <label for="nome">Título</label>
            <input type="text" class="form-control" name="nome" required [(ngModel)]="tituloAlbum"/>
        </div>       
        <div class="control-group col-4">
            <label for="files" id="label-files" class="btn btn-primary">Selecione as imagens</label>
            <input type="file" id="files" name="files" accept="image/x-png,image/gif,image/jpeg" 
              multiple (change)="inputFileChange($event)">
        </div>        
    </div>    
    <div class="row col-12 mt-3">
      <div class="card">       
        <ul
          class="list-group list-group-flush"
          *ngFor="let file of arquivosCarregados"
        >
          <li class="list-group-item">
            <a>{{ file.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row float-right">
        <button class="btn btn-primary mt-5 ml-2" (click)="salvarNovoAlbum()">Salvar</button>   
        <a class="btn btn-primary mt-5 ml-2" routerLink="/home">Voltar</a>   
    </div>   
    <div class="p-2 mb-2 bg-danger text-white w-100"  *ngIf="error">
        Houve um erro na criação do álbum. Por favor, tente novamente.
    </div>
    <div class="p-2 mb-2 bg-success text-white w-100"  *ngIf="sucesso">
        Álbum criado com sucesso.
    </div>
</div>
<div *ngIf="detalhe">
  <div class="row col-12 mt-3">
    <h2>Álbum {{ tituloAlbum }}</h2>
  </div>
  <div class="row col-12 mt-3">
    <div class="col-3 ml-1" *ngFor="let foto of fotos">
        <img src="{{foto}}" class="w-65"/>
    </div>
  </div>
  <div class="row float-right">
    <a class="btn btn-primary mt-5 ml-2" routerLink="/home">Voltar</a>   
</div>  
</div>
