label {
    margin-bottom: .0rem !important;
}
.btn-primary {
    background-color: rgb(147, 112, 219);
    border-color: rgb(147, 112, 219);
    min-width: 90px;
}

.btn-primary:hover {
    background-color: rgb(147, 112, 219);
    opacity: 0.90;
    border-color: rgb(147, 112, 219);
}