<nav class="navbar navbar-expand-lg navbar-light">	  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item dropdown" *ngIf="info.admin == 'true'">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false" (click)="usuarios()">Usuários</a>        
        </li>		     
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false" (click)="posts()">Posts</a>        
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false" (click)="album()">Album</a>        
        </li>
    </ul>
    </div>
    <label class="text-white mr-5">| Bem vindo, {{info.username}} |</label>
    <a class="nav-link float-right" (click)="logout()">Sair</a>
</nav>